.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  position: absolute;
  font-weight: 900;
}

.loading:after {
  animation: load 2s infinite linear;
  content: "...";
}

.spinner {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-top: 10px solid black;
  animation: spin 1.2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: "...";
  }
  25% {
    content: "";
  }
  50% {
    content: ".";
  }
  75% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
